.product-card-image{
    height: 150px !important;
}

.btn-order{
    border: 1px solid #626262;
    line-height: 24px;
    padding: 25px 60px;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #222;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: all 0.3s ease 0s;
    border-radius: 5px;
 }